/* @abro-styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --main-color: #E81123;
    --bg-color: #1b1b1d;
    --second-bg-color: #303030;
    --text-color: #ffffff;
    --black-color: #000000;
}

a {
    text-decoration: none;
    color: blue;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
section {
    min-height: 100vh;
    padding: 7rem 10% 2rem;
    box-sizing: border-box;
}

/* Header */
header {
  padding: 15px 8%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  z-index: 100;
  transition: 0.3s;
}
header .logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}
span{
    background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent;
}
ul.navlist {
    display: flex;
    gap: 1rem;
}
.navlist li {
    margin: 0 1rem;
}
.navlist li a {
    display: inline-flex;
    font-weight: 600;
    color: var(--text-color);
}
.navlist li a:hover,.navlist li a.active {
    background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent;
}
.menu-btn{
    display: flex;
    align-items: center;
    justify-content: end;
    grid-gap: .8rem;
}

#menu-icon{
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
}

/* buttons */
.btn {
    background: var(--main-color);
    color: #fff;
    padding: 8px 10px;
    border-radius: 4rem;
    border: 2px solid var(--main-color);
    font-weight: 500;
    transition: all .3s ease;
}
.btn:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

/* home section */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }
    
    100% {
        transform: translateY(0);
    }
}

.home-content h3{
    font-size:2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
}

.home-content p{
    font-size: 1rem;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.btn-box .hire-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.btn-box .d-cv{
    background: var(--bg-color);
    transition: all .3s ease;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .15rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 1rem 1.5rem 1rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

/* about section */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.about-img, .about-content {
    flex: 1 1 300px;
}

.about-img img {
    width: 35vw;
    height: auto;
}

.about-btn{
    margin: 3rem 0;
}
.abt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about-btn button, .cvContent a {
    background: transparent;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 4rem;
    border: 2px solid var(--main-color);
    font-size: 1rem;
    margin-right: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}
.about-btn button.active{
    background: var(--main-color);
    color: var(--text-color);
}

.content-btn .content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.content-btn .content.active {
    display: block;
    opacity: 1;
}
.about-content h3 {
    font-size: 2.1rem;
    line-height: 3rem;
    margin: 1rem 0;
    color: var(--text-color);
}
.text-box {
    margin: 1.5rem 0;
}

.text-box p {
    font-size: 1.1rem;
    font-weight: 500;
}

/* skills */
.tab-card{
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--second-bg-color);
}
.skill span{
    color: var(--text-color);
}
.skill .float-right{
    float: right;
}
.skill {
    margin-bottom: 15px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.skill-bar {
    background: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 12px;
}

.skill-fill {
    height: 100%;
    background: linear-gradient(to right, #ff416c, #E81123);
    width: 0;
    animation: fill-animation 1.5s forwards;
}

@keyframes fill-animation {
    to {
        width: var(--target-width);
    }
}



/* services section */
.services h2{
    /* font-size: 1.2rem; */
    text-align: center;
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-container .services-box {
    background: var(--second-bg-color);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 3.5rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 1.5rem;
}

.services-box p{
    font-size: 1.1rem;
    margin: 1rem 0 3rem;
}

/* portfolio section */
.portfolio-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.filter-buttons{
    text-align: center;
    padding: .5rem;
    margin-bottom: 2rem;
}
.filter-buttons button {
    background:transparent;
    padding: 12px 15px;
    border-radius: 4rem;
    border: 2px solid var(--main-color);
    font-weight: 500;
    color: var(--text-color);
    box-shadow: rgba(60,64,67,0.3)0px 1px 2px 0, rgba(60,64,67,0.15)0px 2px 6px 2px;
    margin-right: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}
.filter-buttons .mixitup-control-active {
    background: var(--main-color);
    color: var(--text-color);
}
.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 1rem;
}
.portfolio-img img {
    display: block;
    width: 100%;
    /* height: 160px; */
    transition: .3s;
}
.portfolio-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
    background: var(--second-bg-color);
    border-radius: 10px;
    transition: all .3s ease;
}
.portfolio-content {
    width: 100%;
    padding-left: .5rem;
    padding-bottom: .5rem;
}
.portfolio-img{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.portfolio-box:hover img{
    scale: 1.1;
}
.portfolio-content a.readMore{
    padding: 8px 12px;
    font-size: .8rem;
}
.portfolio-content p{
    font-size: .9rem;
    color: var(--text-color);
    margin: .5rem 0 1rem 0;
}

/* blog section */
.blog-box{
    padding: .5rem !important;
}
.blog-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.blog{
    position: relative;
}
.cards{
    padding: 1rem .1rem;
}
.card{
    background: var(--second-bg-color);
    box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
    padding: 1rem;
    border-radius: 10px;
}
.card-top{
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    display: block;
}
.card:hover img {
    scale: 1.1;
}
.card-info {
    padding-bottom: .5rem;
}
.card-info h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.date{
    display: block;
    margin: .2rem 0;
}
.card .excerpt {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
.swiper-pagination {
    position: relative !important;
    margin-top: 3rem;
}
.swiper-pagination-bullet {
    height: 10px !important;
    width: 30px !important;
    border-radius: 25px !important;
    background: var(--main-color) !important;
}

/* contact section */
.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background: var(--second-bg-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
}
.contact-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;   
}

.contact h3 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}
.contact h3::after {
	position: absolute;
	content: "";
	background-color:var(--main-color);
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}

.info_icon{
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	font-weight: 600;
	color: var(--text-color);
	text-align: center;
    background: var(--main-color);
    border-radius: 50px 50px 0px 50px;
	font-style: italic;
}
.info_container ul li{
  list-style: none;
  margin: 1.5rem;
}
.info_container span{
    margin-right: 0.3rem;
    font-size: 1.8rem;
}
.contact_social-links ul li{
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
}
.contact_social-links ul li a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: .15rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1rem;
    transition: .5s ease;
}

.contact a{
    color: var(--text-color);
}
.contact a:hover{
    color: var(--main-color);
}

.contact-info input,
.contact-info form textarea {
    width: 100%;
}
.contact-info form input,
.contact-info form textarea {
    padding: .8rem;
    border: 2px solid rgba(247, 245, 246, 0.8);
    margin: .5rem 0;
    background: transparent;
    border-radius: 5px;
    outline: none;
    transition: .3s;
}
.contact-info form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box input {
    width: 49%;
}
.contact-info form input:focus,form textarea:focus {
    filter: brightness(100%);
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--text-color);
}
.contact-info form textarea {
    resize: none;
}
.contact-info form .cbtn{
    padding: 15px 20px;
}

/* scroll to top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 17px;
    right: 30px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: .15rem solid var(--main-color);
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#topBtn i {
    font-size: 22px;
    color: var(--text-color);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
#topBtn:hover {
    background-color: transparent;
    border: 1px solid var(--main-color);
    opacity: 0.9;
}
#topBtn:hover i {
    transform: translateY(-4px);
    color: var(--main-color);
}
#topBtn:focus {
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
}

/* Footer Styles */
footer {
    /* background: var(--second-bg-color); */
    padding: 2rem;
    text-align: center;
    /* border-top: 1px solid #ddd; */
}
footer span{
    color: var(--text-color);
}
.copyright p {
    margin: 0;
    font-size: 1rem;
    color: var(--text-color);
}
.copyright a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.copyright a:hover {
    color: #0056b3;
}

/* breaking points */
@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .portfolio-box{
        flex-direction: column-reverse;
    }
    .about{
        flex-direction: column;
    }
    .about .about-img .aboutHero {
        width: 100%;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablet */
    }
    .portfolio-img img {
        width: 100%;
        height: 100%;
    }
    .portfolio-gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {

    #menu-icon {
        display: block;
    }
    ul.navlist {
        position: absolute;
        top: -1000px;
        transition: all .3s ease;
        width: 100%;
        text-align: center;
        display: block;
        background: var(--black-color);
        left: 0;
        border-top: 2px solid rgba(232,17,35,.7);
    }
    ul.navlist a{
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    .navlist.active{
        top: 100%;
    }
    .btn{
        padding: .4rem;
    }
    .home {
        flex-direction: column-reverse;
        grid-gap: 0;
    }
    .home-content h3 {
        font-size: 1.5rem;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .tab-card{
    max-width: 100%;
    }

    .services-container {
        grid-template-columns: 1fr;
    }

    #topBtn {
        width: 36px;
        height: 36px;
        right: 15px;
        bottom: 15px;
    }
    #topBtn i {
        font-size: 20px;
    }

    footer {
        padding: 0.75rem;
    }
    .copyright p {
        font-size: 0.8rem;
    }

}